<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicativo_localizacao_indoor">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.testeActivity"></activity>
        <activity
            android:name=".activity.AdminListarUsuariosActivity"
            android:label="Lista de usuarios" />
        <activity
            android:name=".activity.AdminListarSalasActivity"
            android:label="Lista de Salas" />
        <activity
            android:name=".activity.AdminListarLocaisActivity"
            android:label="Lista de Locais" />
        <activity
            android:name=".activity.AdminCadastrarLocalEspecialActivity"
            android:label="Cadastrar locais Especiais" />
        <activity
            android:name=".activity.AdminSelecionaPontoActivity"
            android:label="Selecionar Pontos de Referencia" />
        <activity
            android:name=".activity.AdminCadastraPontoActivityDetalhe"
            android:label="Cadastrar Ponto" />
        <activity
            android:name=".activity.AdminMainActivity"
            android:label="Administrador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AdminListarPontoActivity"
            android:label="Lista de Pontos" />
        <activity
            android:name=".activity.AdminCadastraUsuarioActivity"
            android:label="Cadastrar Usuarios" />
        <activity
            android:name=".activity.AdminCadastraSalaActivity"
            android:label="Cadastrar Sala" />
        <activity
            android:name=".activity.AdminCadastraLocalActivity"
            android:label="Cadastrar local" />
        <activity
            android:name=".activity.AdminCadastraPontoActivity"
            android:label="Cadastrar Ponto" />
        <activity
            android:name=".activity.RotaActivity"
            android:label="Rota" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".activity.LocalizarActivity"
            android:label="Localizar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>